<div class="all">
    <h3 style="margin-bottom: 50px;">Infos</h3>
    <app-comp-maps></app-comp-maps>
    <div class="contcs">
        <div>         
            <img src ="/assets/whatsapp.png" width="30px" class="img-space"> +212 635001243
        </div>
        <div>
            <img src ="/assets/instagram.png" width="30px" class="img-space"> #ChillouMohamed
        </div>
        <div>
            <img src ="/assets/facebook.png" width="30px" class="img-space"> Chillou Mohamed
        </div>

    </div>
</div>
